
/* Gerais */

html{
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

body{
    background-color: #fff;
    height: 100vh;
}

.interface{
    margin: 0 auto;
}

.flex{
    display: flex;
}

section.hero .interface{
    padding: 0 4%;
}

.hero .containerBuscaImoveis{
    padding: 0 3%;
    width: 100%;
    height: 60px;
    background-color: #1B25D3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hero .containerBuscaImoveis h2{
    color: #fff;
    font-size: 18px;
}

.hero .containerBuscaImoveis::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 60px;
    margin-left: -15px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #1B25D3 transparent;
    display: block;
    z-index: 1;
}

.containerBuscaImoveis .buscaCodigo{
    display: flex;
}

.containerBuscaImoveis .buscaCodigo input{
    width: 20em;
    height: 2em;
    border-radius: 7px 0 0 7px;
    border: none;
    outline: none;
    padding: 2px;
    margin: 0;
}

.containerBuscaImoveis .buscaCodigo button{
    margin: 0;
    width: 2em;
    height: 2em;
    background-color: #e0e1e2;
    border: none;
    border-radius: 0 7px 7px 0;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

.containerBuscaImoveis .buscaCodigo button:active{
    transform: scale(1.001);
}

.containerBuscaImoveis .buscaCodigo button:hover{
    background-color: #cacbcd;
}

/* Formulario de pesquisa */

.filtro{
    border-radius: 0 0 5px 5px;
    background-color: #f2f2f2;
    padding: 2%;
    margin-bottom: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.filtro form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.filtro .tipoDoFiltro{
    display: flex;
    flex-direction: column;
}

.filtro .tipoDoFiltro label{
    margin-left: 5px;
    font-size: 1rem;
    color: #565656;
}

.filtro .tipoDoFiltro select{
    width: 20em;
    height: 3em;
    padding: 2px;
    border-radius: 50px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    cursor: pointer;
}

.filtro .btnPesquisar button{
    font-weight: bold;
    color: #fff;
    background-color: #1B25D3;
    cursor: pointer;
    width: 26em;
    height: 3em;
    border-radius: 50px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
}

.filtro .btnPesquisar{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Container Card Imoveis */
.containerImoveis{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.cardImovel{
    gap: 10px;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 #0000009d;
    width: 36em;
    height: 12em;
    padding: 1%;
    transition: 0.3s;
}

.cardImovel:hover{
    transform: scale(1.02);
}

.imgCard{
    position: relative;
    height: 100%;
    width: 50%;
}

.imgCard img{
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.imgCard span{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8em;
    padding: 3px;
    color: #fff;
    background-color: #1B25D3;
    border-radius: 5px;
}

.informacoes{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}


.informacoes .headerInfoCard{
    display: flex;
    justify-content: space-between;
}

.informacoes .headerInfoCard h3{
    text-align: start;
}

.informacoes .headerInfoCard p{
    font-size: 1em;
    font-weight: bold;
    color: #000;
    text-align: end;
}

.informacoes p{
    color: #565656;
    font-size: .85em;
}

.informacoes h4{
    color: #000;
    font-size: 1.13em;
}

/* Preço está junto com a div .btnVisite */
.informacoes .btnAcesse{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.informacoes .btnAcesse a button{
    font-weight: bold;
    color: #fff;
    background-color: #1B25D3;
    width: 6em;
    height: 2em;
    border-radius: 50px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    cursor: pointer;
}


.informacoes .btnAcesse .preco{
    font-size: 1.1em;
    font-weight: bold;
    color: #1B25D3;
}

/* Footer */

footer{
    margin-top: 15px;
    width: 100%;
    background-color: #3c3d3d;
}

footer .interface{
    padding: 4% 4% 0 4%;
}

footer .flex{
    display: flex;
    flex-direction: column;
}

footer .footer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    align-items: start;
}

footer .footer .logoFooter p{
    color: #fff;
}

footer .footer .logoFooter img{
    transition: .3s;
}

footer .footer .logoFooter img:hover{
    transform: scale(1.05);
}

footer .creditos{
    margin: 25px 0 1px 0;
    text-align: center;
}

footer .redesSociais{
    color: #fff;
    text-align: center;
}

.footer .redesSociais h4{
    font-size: 1.09em;
}

footer .redesSociais a{
    font-size: 2em;
    color: #7e7e7e;
    transition: .3s;
}

footer .redesSociais a:hover{
    color: #b7b7b7;
}

footer .contato{
    text-align: start;
    color: #fff;
}

footer .contato h4{
    font-size: 1.09em;
}

footer .contato p{
    font-weight: 350;
}

footer .creditos p{
    font-weight: bold;
}




/* Responsivo */

@media screen and (max-width: 1020px){
    section.hero .interface{
        padding: 0 4%;
    }

    /* Buscador de imovel */
    .containerBuscaImoveis .buscaCodigo input{
        width: 10em;
    }

    .hero .containerBuscaImoveis h2{
        font-size: 14px;
    }

    /* Filtro */
    .filtro{
        padding: 4%;
    }

    .filtro .tipoDoFiltro select{
        width: 10em;
    }

    /* Imovel card */
    .informacoes .btnAcesse a button{
        width: 4em;
        height: 2em;
    }
    
    
    .informacoes .btnAcesse .preco{
        font-size: 0.9em;
    }

    /* Footer */

    footer .footer{
        flex-direction: column;
        align-items: center;
    }


    


}

/* Responsivo extremo */
@media screen and (max-width: 240px){
    section.hero .interface{
        padding: 0 4%;
    }

    .containerBuscaImoveis .buscaCodigo input{
        width: 100%;
    }

    .hero .containerBuscaImoveis h2{
        font-size: 12px;
    }

    /* Filtro */
    .filtro .tipoDoFiltro select{
        width: 7em;
    }

    /* Card Imovel */

    .informacoes h3{
        font-size: 0.89em;
    }

    .informacoes h4{
        font-size: 0.89em;
    }

    .informacoes p{
        font-size: 0.7em;
    }

    .informacoes .btnAcesse a button{
        width: 4em;
        height: 2em;
    }
    
    
    .informacoes .btnAcesse .preco{
        font-size: 0.7em;
    }

}




















/* Responsivo */

@media screen and (min-width: 1021px){
    /* header */
    .btnAbrirMenu{
        display: none;
    }
}

@media screen and (max-width: 1020px){
    /* Header */
    .menuDesktop{
        display: none;
    }
}
